
		<div class="feed_item-container">
			<div class="feed_item">
				<div class="col-md-10 text-center">
					<div class = "feed_item-title">{{feed_item.title}}</div>
					<div class = "feed_item-author">{{feed_item.author}}</div>
					<div class = "feed_item-date">{{feed_item.date}}</div>
					<div class = "feed_item-detail">{{feed_item.detail}}
						some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...some description balabala ...
					 </div>
				</div>
				<div class="col-md-12"></div>

			</div>
		</div>