{% extends "_base.html" %}
{% block bodycontent %}
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-10 text-center">
				<h2>Post a Task</h2>
				<p>

				</p>
			</div>
			<div class="col-md-12"></div>

			<div class="col-sm-6 col-md-12">
				<form action="/post_task" method="post" role="form">
					<div class="col-md-12">
						<input name = "title" type="text" class="form-control" placeholder="Title">
					</div>

					<div class="col-md-6">

						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Dropdown
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a data-value="action">Action</a></li>
								<li><a data-value="another action">Another action</a></li>
								<li><a data-value="something else here">Something else here</a></li>
								<li><a data-value="separated link">Separated link</a></li>
							</ul>
						</div>
						<!-- <input name = "title" type="text" class="form-control" placeholder="Title"> -->
					</div>
					<div class="col-md-6">
						<select class="form-control mainSelect" name = "category">
							<option value="" selected disabled>Please select</option>
							<option value="Math">Math</option>
							<option value="Physics">Physics</option>
							<option value="Other">Other</option>
							<option value="four">Four</option>
							<option value="five">Five</option>
						</select>
					</div>

					<div id ="task_content" class="col-md-12">
						<textarea name = "desc" class="form-control" rows="6" placeholder="description"></textarea>
					</div>
					<div class="col-md-12">
						<input type="submit" value="POST" class="form-control" />
					</div>
				</form>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}